<!-- Footer -->
<div id="footer">
  <hr>
  <div class="container">
   
    <div class="row">
      <div class="12u">        
        <!-- Contact -->
          <section class="contact">
            <header>
              <h4 style=" font-weight: 900; font-size:160%">Traveling will leave you speechless, then turns you into a storyteller.</h4>
            </header>          
          </section>
      </div>
      <div class="5u">        
        <strong><h3 class="left-align" id="about" style="color:aliceblue">ABOUT US</h3></strong>
        <p class="text-justify footer-text">ZubeeGo is a uniquely designed web application for connecting every traveler with a thirst for exploring new tastes or destinations. Customers use our platform to search and discover restaurants, hotels, or landscape destinations, read and write customer-generated reviews, and view and upload photos of places placed anywhere on the map. We aim to list down top restaurants, hotels, and destinations in an area based on the customer's or locals' reviews, which will help grow our partners and increase the popularity of destinations.</p>
      </div>

      <div class="3u quickLinks">            
          <strong><h3 class="left-align" style="color:aliceblue">QUICK LINKS</h3></strong>
        <ul class="footer-links left-align">
          <li>
            <ul>
                <li><a href="/add_restaurants">Add Restaurant</a></li>
                <li><a href="/add_hotel">Add Hotel</a></li>
                <li><a href="/add_destination">Add Destinations</a></li>                                
            </ul>
          </li>
          <li>
              <ul>
                  <li><a href="/showrestaurants">Search Restaurant</a></li>
                  <li><a href="/showhotel">Search Hotel</a></li>
                  <li><a href="/showdestination">Search Destinations</a></li>                                
              </ul>
          </li>
          <li ><a href="/announcements">Announcements</a></li>
          <li ><a href="/viewprofile">View Profile</a></li>
          <li ><a href="/feedback">FeedBack</a></li>
          <li ><a href="/logout">Logout</a></li>
        </ul>
      </div>

        <!-- Social links -->
      <div class="4u">        
        <h3 style="color:aliceblue">CONNECT WITH US!</h3><br>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
          <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
        </ul>
      </div>

      <!-- Copyright -->
      <div class="copyright 12u">
         <a> &copy; 2021 ZubeeGo </a>
      </div>
    </div>
  </div>
</div>




</body>
</html>