<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="/public/homeJs/jquery.min.js"></script>
		<script src="/public/homeJs/jquery.dropotron.min.js"></script>
		<script src="/public/homeJs/jquery.scrolly.min.js"></script>
		<script src="/public/homeJs/jquery.onvisible.min.js"></script>
		<script src="/public/homeJs/skel.min.js"></script>
		<script src="/public/homeJs/skel-layers.min.js"></script>
		<script src="/public/homeJs/init.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/f6c224efb3.js" crossorigin="anonymous"></script>
		
        <noscript>    
        <link rel="stylesheet" href="/public/homeCss/skel.css" />        
        <link rel="stylesheet" href="/public/homeCss/style.css" />
        <link rel="stylesheet" href="/public/homeCss/style-noscript.css" />    
        </noscript>
        <!-- <link rel="stylesheet" href="/public/homeCss/style-desktop.css" /> -->
			
	  
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

        <style>
            .featured{
                background-color: black;
            }
            .articleImg{
                background-color: black;
            }
            .new-button {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px; 
                cursor: pointer;
                border-radius: 4px;
                background-color: #009999;
                font-size: 12px;
                color: #fff;
            }
            input[type="file"] {
              position: absolute;
              z-index: -1;
              top: 6px;
              left: 0;
              font-size: 10px;
              color: rgb(153,153,153);
            }
            .button-wrap {
                position: relative;
              }
           
        </style>
	</head>

    <body class="no-sidebar" >

        <!-- Header -->
        <div id="header" style="background-color: #005266;height:20%">
    
    
            <br><br>
            <!-- Inner -->
                <div class="inner">
                    <header>
                        <h2 style="color: white;">rest name</h2>
                        <h4 style="color: white;">rest address</h4>
                    </header>
                </div>
            
            <!-- Nav -->
                <nav id="nav">  
                    <h2 style="float:left;margin-left:2%;font-family:papyrus;color:tomato"><a href="/" id="logo">ZUBEEGO</a></h2>
                    <ul style="float:right">
                        <!-- <li>
                            <a href="">dropdown</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                                <li>
                                    <a href="">And a submenu &hellip;</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Phasellus consequat</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li><a href="#">Etiam dolore nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li>
                            </ul>
                        </li> -->
                        <li ><a href="/add_restaurants">Add Restaurant</a></li>
                        <li ><a href="/showrestaurants">Search Location</a></li>
                        <li ><a href="/announcements">Announcements</a></li>
                        <li ><a href="/viewprofile">View Profile</a></li>
                        <li ><a href="/feedback">FeedBack</a></li>
                        <li ><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
    
        </div>
    <!-- header end-->
    
     
    
    <!--review section-->
    
    <div class="wrapper style1" style="background-color: black;">
    
    <div class="container">
        <div class="row 200%">
            <div class="12u" id="content">
                <article id="main">                    
                    <div style="padding-left:1%;padding-right:1%;margin-bottom:1%">
                        <div style="padding:1%">
                            <section class="special">                
                                <h3 style="color: #cc3399;"><a href="location2.html">Location2</a></h3>
                                <h6>02/02/2002 - 2:00 AM</h6>
                                <img src="../images/pic01.jpg" alt="" class="image featured mb-2"/>
                                <strong><p style="color: #009999;"> The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some task, then he must solve it to the end, without being distracted by another task. After switching to another task, Polycarp cannot return to the previous task.</p></strong>
                                <ul class="actions mt-2">                                  
                                    <li style="display:inline;"><span onclick="showSolidHeart(this.id)" id="openheart"><i class="fa fa-heart-o" aria-hidden="true"></i></span><span onclick="showOpenHeart()" id="solidheart" style="display: none;"><i class="fa fa-heart" aria-hidden="true" ></i></span></li>
                                    <li style="display:inline;"><span onclick="showSolidAngry()" id="openangry"><i class="far fa-angry" ></i></span><span onclick="showOpenAngry()" id="solidangry" style="display: none;"><i class="fas fa-angry" ></i></span></li>                                  
                                                                  
                                </ul>
                            </section>
                        </div>
                                                                    
                    </div>
                    
                </article>
            </div>
            <div class="2u" id=content></div>
            <div class="8u" id="content" >
                
                <article id="main">  
                    <div class="card" style="padding-left:1%;padding-right:1%;margin-bottom:1%;background-color: #000000">
                        <div style="padding:1%">
                            <section class="special">  
                                <h3 style="color: #ffffff;">Add Comment</h3>           
                                <form action="" method="">
                                    <div class="d-flex flex-row align-items-start">
                                        <!-- <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"> -->
                                        <input type="text" class="form-control ml-1 shadow-none textarea"></textarea>
                                    </div>                                    
                                    <div class="mt-2 text-right">
                                        <ul >                                        
                                        <li style="display:inline;"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></li>
                                        <li style="display:inline;"><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></li>
                                        </ul>
                                    </div>
                                </form>
                            </section>
                        </div>                                                                       
                    </div>                  
                    <div style="padding-left:1%;padding-right:1%;margin-bottom:1%">
                        <div style="padding:1%">
                            <section class="special">                
                                <h3 style="color: #ff6600;font-size:90%;display: inline;"><a href="location2.html">Name</a></h3>
                                <h6 style="display: inline;float:right">02/02/2002 - 2:00 AM</h6>                                
                                <p style="color: #ffffff;"> The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some task, then he must solve it to the end, without being distracted by another task. After switching to another task, Polycarp cannot return to the previous task.</p>
                            </section>
                        </div>
                    </div>
                    <div style="padding-left:1%;padding-right:1%;margin-bottom:1%">
                        <div style="padding:1%">
                            <section class="special">                
                                <h3 style="color: #ff6600;font-size:90%;display: inline;"><a href="location2.html">Name</a></h3>
                                <h6 style="display: inline;float:right">02/02/2002 - 2:00 AM</h6>                                
                                <p style="color: #ffffff;"> The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some task, then he must solve it to the end, without being distracted by another task. After switching to another task, Polycarp cannot return to the previous task.</p>
                            </section>
                        </div>
                    </div>
                </article>
            </div>
            <div class="2u" id="content"></div>
        </div>        
    </div>
</div>
    
    
    
<!-- comment end-->


    
    <!-- Footer -->
            <div id="footer" style="margin-top: 1%;">
                <div class="container">
                    
                    <div class="row">
                        <div class="12u">
                            
                            <!-- Contact -->
                                <section class="contact">
                                    <header>
                                        <h3>Nisl turpis nascetur interdum?</h3>
                                    </header>
                                    <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
                                    <ul class="icons">
                                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                                        <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                                    </ul>
                                </section>
                            
                            <!-- Copyright -->
                                <div class="copyright">
                                    <ul class="menu">
                                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                    </ul>
                                </div>
                            
                        </div>
                    
                    </div>
                </div>
            </div>

            <script>
                function showSolidHeart(){
                    document.getElementById("openheart").style.display="none";
                    document.getElementById("solidheart").style.display="inline";
                }
                function showOpenHeart(){
                    document.getElementById("solidheart").style.display="none";
                    document.getElementById("openheart").style.display="inline";
                }
                function showSolidAngry(){
                    document.getElementById("openangry").style.display="none";
                    document.getElementById("solidangry").style.display="inline";
                }
                function showOpenAngry(){
                    document.getElementById("solidangry").style.display="none";
                    document.getElementById("openangry").style.display="inline";
                }
            </script>

    </body>
    
</html>