<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>home</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script src="/homeJs/jquery.min.js"></script>
		<script src="/homeJs/jquery.dropotron.min.js"></script>
		<script src="/homeJs/jquery.scrolly.min.js"></script>
		<script src="/homeJs/jquery.onvisible.min.js"></script>
		<script src="/homeJs/skel.min.js"></script>
		<script src="/homeJs/skel-layers.min.js"></script>
		<script src="/homeJs/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/homeCss/skel.css" />
			<link rel="stylesheet" href="/homeCss/table.css" />
			<link rel="stylesheet" href="/homeCss/style.css" />
			<link rel="stylesheet" href="/homeCss/style-desktop.css" />
			<link rel="stylesheet" href="/homeCss/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
	</head>


	<!-- <script>

		var home = {Latitude:"", Longitude:""};
  		if (navigator.geolocation) {
    		navigator.geolocation.getCurrentPosition(showPosition);
  		} 
		function showPosition(position) {
			home.Latitude = position.coords.latitude;
			home.Longitude = position.coords.longitude;
			console.log(home)
		}

	</script> -->

	<body class="no-sidebar">

		<!-- Header -->
			<div id="header" style="background-color: #005266;">

				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="home.html" id="logo">ZUBEEGO</a></h1>
						</header>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul style="float:right">
							<!-- <li>
								<a href="">dropdown</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="">And a submenu &hellip;</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Phasellus consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
										</ul>
									</li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li> -->
							<li ><a href="addplace.html">Add Your Place</a></li>
							<li ><a href="right-sidebar.html">Review The Place</a></li>
							<li ><a href="profile.html">View Profile</a></li>
							<li ><a href="feedback.html">FeedBack</a></li>
							<li ><a href="/logout">Logout</a></li>
						</ul>
					</nav>

			</div>

			<div id="map" style="width: 100%; height: 530px; border-radius: 5px;"></div>
			<script src ="/homeJs/map.js"></script>
			
			<!-- carousel -->
			<section class="carousel">
				<div class="reel">

					<article>
						<a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Pulvinar sagittis congue</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic1.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Fermentum sagittis proin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic2.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Sed quis rhoncus placerat</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic3.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Ultrices urna sit lobortis</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic4.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Varius magnis sollicitudin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>

					<article>
						<a href="#" class="image featured"><img src="../images/pic5.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Pulvinar sagittis congue</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic6.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Fermentum sagittis proin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic8.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Sed quis rhoncus placerat</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>			

				</div>
			</section>

			
		<!-- Announcements -->
			<div class="wrapper style1">

				<div class="container" style="background-color: black;height:fit-content; width:auto;padding-left:2%;padding-right:2%;padding-bottom:2%;color:#005266">
					<article id="main" class="special">
						<header>
							<h2>Announcements</h2>
							<p>
								Morbi convallis lectus malesuada sed fermentum dolore amet
							</p>
						</header>
						<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
						
						<div class="container">
							<div class="row">
								<div class="6u">
									<section class="special">
										<a href="#" class="image fit"><img  style="border-radius: 2%;" src="/images/pic01.jpg" alt="" title="offer image"/></a>
										<h3>OFFER1</h3>
										<p>offer description.</p>
										<ul class="actions">
											<li><a href="#" class="button alt">Learn More</a></li>
										</ul>
									</section>
								</div>
								<div class="6u" >
									<section class="special" >
										<a href="#" class="image fit"><img style="border-radius: 2%;" src="/images/pic5.jpg" alt="" title="offer image"/></a>
										<h3>OFFER2</h3>
										<p>offer description.</p>
										<ul class="actions">
											<li><a href="#" class="button alt">Learn More</a></li>
										</ul>
									</section>
								</div>
								
							</div>
						</div>
						
					</article>					
				</div>

			</div>

		<!-- leaderboard -->	

		<div class="container">
			<h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
			<ul class="responsive-table">
			  <li class="table-header">
				<div class="col col-1">Job Id</div>
				<div class="col col-2">Customer Name</div>
				<div class="col col-3">Amount Due</div>
				<div class="col col-4">Payment Status</div>
			  </li>
			  <li class="table-row">
				<div class="col col-1" data-label="Job Id">42235</div>
				<div class="col col-2" data-label="Customer Name">John Doe</div>
				<div class="col col-3" data-label="Amount">$350</div>
				<div class="col col-4" data-label="Payment Status">Pending</div>
			  </li>
			  <li class="table-row">
				<div class="col col-1" data-label="Job Id">42442</div>
				<div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
				<div class="col col-3" data-label="Amount">$220</div>
				<div class="col col-4" data-label="Payment Status">Pending</div>
			  </li>
			  <li class="table-row">
				<div class="col col-1" data-label="Job Id">42257</div>
				<div class="col col-2" data-label="Customer Name">John Smith</div>
				<div class="col col-3" data-label="Amount">$341</div>
				<div class="col col-4" data-label="Payment Status">Pending</div>
			  </li>
			  <li class="table-row">
				<div class="col col-1" data-label="Job Id">42311</div>
				<div class="col col-2" data-label="Customer Name">John Carpenter</div>
				<div class="col col-3" data-label="Amount">$115</div>
				<div class="col col-4" data-label="Payment Status">Pending</div>
			  </li>
			</ul>
		  </div>


		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						
						<!-- Tweets -->
							<section class="4u">
								<header>
									<h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="tweet">
											Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
											<span class="timestamp">5 minutes ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Hendrerit rutrum quisque.
											<span class="timestamp">30 minutes ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
											<span class="timestamp">3 hours ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
											<span class="timestamp">5 hours ago</span>
										</article>
									</li>
								</ul>
							</section>

						<!-- Posts -->
							<section class="4u">
								<header>
									<h2 class="icon fa-file circled"><span class="label">Posts</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Nisl fermentum integer</a></h3>
											</header>
											<span class="timestamp">3 hours ago</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Phasellus portitor lorem</a></h3>
											</header>
											<span class="timestamp">6 hours ago</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Magna tempus consequat</a></h3>
											</header>
											<span class="timestamp">Yesterday</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Feugiat lorem ipsum</a></h3>
											</header>
											<span class="timestamp">2 days ago</span>
										</article>
									</li>
								</ul>
							</section>

						<!-- Photos
							<section class="4u">
								<header>
									<h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
								</header>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic10.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic11.jpg" alt="" /></a>
									</div>
								</div>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic12.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic13.jpg" alt="" /></a>
									</div>
								</div>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic14.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="/images/pic15.jpg" alt="" /></a>
									</div>
								</div>
							</section> -->

					</div>
					<hr />
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Nisl turpis nascetur interdum?</h3>
									</header>
									<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
							
						</div>
					
					</div>
				</div>
			</div>

	</body>
</html>